.navbar__item > a {
  font-size: clamp(0.8rem, 3vw, 1rem);
  text-decoration: none;
  color: black;
  transition-duration: 1000ms;
  font-weight: 600;
}

.navbar__item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: black;
}
