.about {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

@media screen and (max-width: 400px) {
  .about {
    padding: 2rem;
  }
}
