.button__search {
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  transition: ease-in 200ms;
}

.button__search:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
