.verify-location__form-wrapper {
  width: 80%;
  min-height: 80%;
  margin-inline: auto;
  background-color: grey;
  border: white 1px solid;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding-inline: 4rem;
  display: flex;
  justify-content: center;;
}

@media screen and (max-width: 803px) {
  .verify-location__form-wrapper {
    max-width: 70%;
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 722px) {
  .verify-location__form-wrapper {
    margin: 0;
    padding-inline: 1rem;

  }
}
