.verify-location__form-wrapper {
  max-width: 60%;
  min-height: 80%;
  margin-inline: auto;
  background-color: grey;
  border: white 1px solid;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 803px) {
  .verify-location__form-wrapper {
    min-width: 80%;
    min-height: 0;
  }
}
@media screen and (max-width: 722px) {
  .verify-location__form-wrapper {
    min-width: 80%;
  }
}
