.about__text {
  margin-top: 3rem;
  text-align: center;
  color: grey;
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 1.5rem);
  max-width: 60%;
  line-height: 1.5;
}

@media screen and (max-width: 820px) {
  .about__text {
    max-width: 100%;
  }
}
