.navbar__button {
  background-color: orange;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  border: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  pointer-events: all;
  z-index: 1000;
}
