.verify-location__details-item {
  color: white;
  font-size: clamp(0.85rem, 3vw, 1.5rem);
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}
.verify-location__details-item:after {
  content: "";
  height: 1rem;
  width: 3rem;
  position: absolute;
  top: 0.5rem;
  background-color: darkslategray;
  margin-left: 2rem;
}
